{% extends 'store/base.html' %}
{% load templatetags %}
{% block list %}
    <article class="content-section">
        <b>Genres:</b>
        {% for book_genre in book_genres %}
            <div>
                <a href="{% url 'home_genre' book_genre.genre %}">
                    {{ book_genre.genre }}
                </a>
            </div>
        {% endfor %}
    </article>

{% endblock %}
{% block content %}
    {% for book in books %}
        {% replace_characters book.book_title ' ' '-' as url_title %}
        <article class="media content-section" id="{{ book.book_id }}">
            <div class="media">
                <a href="{% url 'book_page' url_title %}">
                    <img src="{{ book.cover.url }}"  class="rounded mx-2 img-home" alt="slow internet lol">
                </a>
              <div class="media-body">
                <div class="article-metadata">
                  <p1 class="mr-2" ><a class="text-author-home" href="#" ><b>{{ book.author.first_name }} {{ book.author.last_name }}</b></a></p1>
                </div>
                <h2><a class="article-title" href="{% url 'book_page' url_title %}">{{ book.book_title }}</a></h2>
                  {% if book.description|truncatewords:100|length != book.description|truncatewords:101|length %}
                     <p class="article-content"> {{ book.description|safe|truncatewords:100}} <a href="{% url 'book_page' url_title %}">read more</a></p>
                  {% else %}
                      <p class="article-content"> {{ book.description }}</p>
                  {% endif %}
                <b>Genre: </b><a href="{% url 'home_genre' book.genre %}">{{ book.genre }}</a>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button class="btn btn-success mt-3" data-toggle="modal" data-target="#cartModal{{ book.book_id }}">
                            Add to cart
                        </button>
                    </div>
                </div>

              </div>
            <p class="price">${{ book.price }} </p>
            </div>
        </article>

        <div class="modal fade" id="cartModal{{ book.book_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Do you want to add this book to cart</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"></span>
                </button>
              </div>
              <div class="modal-body container">
                  <div class="row">
                      <div class="col-sm-2">
                        <img src="{{ book.cover.url }}"  class="rounded mx-2 img-cart-modal" alt="slow internet lol">
                      </div>

                      <div class="col">
                          <div class="row">
                              <div class="col">
                                  <b>{{ book.book_title }}</b> by
                                  <span class="text-author-home">
                                      {{ book.author }}
                                  </span>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-sm-9">
                                  <b>Book price:</b>
                              </div>
                              <div class="col-sm-3">
                                  ${{ book.price }}
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-sm-9">
                                  <b>Genre:</b> {{ book.genre }}
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                <div class="modal-footer container">
                  <a id="{{ book.book_id }}" href="{% url 'add_order' book.book_id %}#{{ book.book_id }}">
                      <button type="button" class="btn btn-primary">Yes and continue shopping</button>
                  </a>
                  <a href="{% url 'add_and_redirect' book.book_id %}">
                    <button type="button" class="btn btn-primary">Yes and go to cart</button>
                  </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
          </div>
        </div>

    {% endfor %}
{% endblock content %}
